@import "tailwindcss";

@theme {
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #3b82f6;
	--color-primary-600: #2563eb;
	--color-primary-700: #1d4ed8;
	--color-primary-800: #1e40af;
	--color-primary-900: #1e3a8a;
	--color-primary-950: #172554;

	--font-serif: "Outfit", sans-serif;
	--font-sans: "Inter", sans-serif;
}

html,
body {
	overscroll-behavior-y: none;
}

:root {
	--background: #ffffff;
	--foreground: #020617;
}

body {
	font-family: var(--font-sans);
	background-color: var(--background);
	color: var(--foreground);
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-serif);
		font-weight: 700;
	}
}
